body {
  margin: 0;
 
   
    font-family: 'Manrope', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif; 
    font-family: 'Montserrat', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
